/* Navbar.module.css */
.navbar {
  width: fit-content; /* Takes only the width it needs */
  background-color: #D3D3D3; /* Optional: Set background color */
  padding: 20px;
  height: 100vh; /* Full height of the viewport */
  box-shadow: 2px 0 5px rgba(0,0,0,0.1); /* Optional: Add a shadow for separation */
  position: fixed; /* Ensures the navbar stays fixed on the left side */
  top: 0;
  left: 0;
  padding-left: 60px;
  padding-right: 60px;
  border: 1px solid black;
  
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logoname {
  margin-left: 20px;
  font-weight: bold;
  font-size: 1.2em;
}

.link {
  display: block;
  margin: 10px 0;
  text-decoration: none;
  color: #333;
}
